<div [formGroup]="form">
  <div formGroupName="data">
    <h3>Header</h3>

    <mat-accordion *ngIf="isNarrativeField('header')">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Header Narrative</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('header')?.title"
            (input)="onNarrativeInput($event, 'header', 'title')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Name</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('header')?.traitName"
            (input)="onNarrativeInput($event, 'header', 'traitName')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Value (Optional)</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('header')?.traitValue"
            (input)="onNarrativeInput($event, 'header', 'traitValue')"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <h3>Definition</h3>

    <mat-accordion *ngIf="isNarrativeField('definition')">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Definition Narrative</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('definition')?.title"
            (input)="onNarrativeInput($event, 'definition', 'title')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Name</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('definition')?.traitName"
            (input)="onNarrativeInput($event, 'definition', 'traitName')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Value (Optional)</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('definition')?.traitValue"
            (input)="onNarrativeInput($event, 'definition', 'traitValue')"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <h3>Headers</h3>

    <mat-accordion *ngIf="isNarrativeField('headers')">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Headers Narrative</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('headers')?.title"
            (input)="onNarrativeInput($event, 'headers', 'title')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Name</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('headers')?.traitName"
            (input)="onNarrativeInput($event, 'headers', 'traitName')"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Trait Value (Optional)</mat-label>
          <input
            matInput
            [value]="getNarrativeFields('headers')?.traitValue"
            (input)="onNarrativeInput($event, 'headers', 'traitValue')"
          />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- <h3>Options</h3>
    <div formGroupName="options">
      <mat-form-field appearance="fill">
        <mat-label>Number of Rows</mat-label>
        <input
          matInput
          type="number"
          min="0"
          formControlName="staticTableNumOfRows"
        />
      </mat-form-field>
    </div>
  </div> -->
</div>
