<div>
  <h3>Wrapped Item Narrative</h3>

  <ng-container *ngIf="datasetControl">
    <!-- Title -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Title</mat-label>
      <input
        matInput
        [value]="getNarrativeFieldsFromControl(datasetControl)?.title"
        (input)="onNarrativeInput($event, 'dataset', 'title')"
      />
    </mat-form-field>

    <!-- Trait Name -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Trait Name</mat-label>
      <input
        matInput
        [value]="getNarrativeFieldsFromControl(datasetControl)?.traitName"
        (input)="onNarrativeInput($event, 'dataset', 'traitName')"
      />
    </mat-form-field>

    <!-- Trait Value -->
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Trait Value</mat-label>
      <input
        matInput
        [value]="getNarrativeFieldsFromControl(datasetControl)?.traitValue"
        (input)="onNarrativeInput($event, 'dataset', 'traitValue')"
      />
    </mat-form-field>
  </ng-container>
</div>
