<h2 mat-dialog-title>Edit Component Data</h2>

<form *ngIf="form" [formGroup]="form">
  <mat-dialog-content>
    <ng-container [ngSwitch]="data.type">
      <!-- CARD -->
      <app-card-data
        *ngSwitchCase="'CARD'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [isNarrativeFieldFromControl]="isNarrativeFieldFromControl.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-card-data>
      <!-- INDICATOR -->
      <app-indicator-data
        *ngSwitchCase="'INDICATOR'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [isNarrativeFieldFromControl]="isNarrativeFieldFromControl.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-indicator-data>

      <!-- CHART -->
      <app-chart-data
        *ngSwitchCase="'CHART'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [isNarrativeFieldFromControl]="isNarrativeFieldFromControl.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-chart-data>

      <!-- PROPERTY -->
      <app-property-data
        *ngSwitchCase="'PROPERTY'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [isNarrativeFieldFromControl]="isNarrativeFieldFromControl.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-property-data>

      <!-- TABLE -->
      <app-table-data
        *ngSwitchCase="'TABLE'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-table-data>

      <!-- LIST -->
      <app-list-data
        *ngSwitchCase="'LIST'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-list-data>

      <!-- CHIP -->
      <app-chip-data
        *ngSwitchCase="'CHIP'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-chip-data>

      <!-- QUESTION -->
      <app-question-data
        *ngSwitchCase="'QUESTION'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-question-data>

      <!-- RANGE -->
      <app-range-data
        *ngSwitchCase="'RANGE'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-range-data>

      <!-- PDF_BREAK -->
      <!-- <app-pdf-break-dialog
        *ngSwitchCase="'PDF_BREAK'"
        [form]="form"
        [data]="data"
      ></app-pdf-break-dialog> -->

      <!-- IMAGE -->
      <app-image-data
        *ngSwitchCase="'IMAGE'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-image-data>

      <!-- BAR_INDICATOR -->
      <app-bar-indicator-data
        *ngSwitchCase="'BAR_INDICATOR'"
        [form]="form"
        [data]="data"
        [isNarrativeField]="isNarrativeField.bind(this)"
        [getNarrativeFields]="getNarrativeFields.bind(this)"
        [onNarrativeInput]="onNarrativeInput.bind(this)"
        [getNarrativeFieldsFromControl]="
          getNarrativeFieldsFromControl.bind(this)
        "
        [onDatasetNarrativeInput]="onDatasetNarrativeInput.bind(this)"
        [removeDatasetItem]="removeDatasetItem.bind(this)"
        [addDatasetItem]="addDatasetItem.bind(this)"
      ></app-bar-indicator-data>

      <!-- PANEL -->
      <app-panel-data
        *ngSwitchCase="'PANEL'"
        [form]="form"
        [data]="data"
      ></app-panel-data>

      <app-chart-table-indicator-data
        *ngSwitchCase="'CHART_TABLE_INDICATOR'"
        [form]="form"
        [data]="data"
      >
      </app-chart-table-indicator-data>

      <!-- PANEL_LAYOUT -->
      <!-- <app-panel-layout-dialog
        *ngSwitchCase="'PANEL_LAYOUT'"
        [form]="form"
        [data]="data"
      ></app-panel-layout-dialog> -->

      <!-- WRAPPED_ITEMS -->
      <!-- <app-wrapped-items-dialog
        *ngSwitchCase="'WRAPPED_ITEMS'"
        [form]="form"
        [data]="data"
      ></app-wrapped-items-dialog> -->

      <!-- Default -->
      <ng-container *ngSwitchDefault>
        <p>Data editing for this component type is not yet implemented.</p>
      </ng-container>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </mat-dialog-actions>
</form>
